iframe {
    display: block;       /* iframes are inline by default */
    text-align: center;
    border: none;
    width: 100%;
    height: 315vh;
}

.tabs {
    margin-bottom: 0 !important;
}

.card {
    margin-top: 0;
}