body {
  background: linear-gradient(to bottom, #5c80bc, #ff9f1c);
}

.is-size-1,
.is-size-4 {
  color: #f9f8f8;
}

.tabs {
  background: #f9f8f8;
  ul {
    a {
      color: darkgrey;
    }
  }
  margin-bottom: 0 !important;
}

.link {
  color: #ff9f1c;
}

.link:hover {
  color: #181818;
}

.card {
  margin-top: 0;
  background: #f9f8f8;
  color: #181818;
}

img {
  margin-right: 0.25em;
}

.content {
  .title {
    color: #181818;
    a {
      color: #ff9f1c;
    }
    a:hover {
      color: #181818;
    }
  }
}

.container {
  padding-left: 3em;
  padding-right: 3em;
  .button {
    color: #ff9f1c;
    border: 1px solid #ff9f1c;
    margin-top: 3em;
  }
  .button:hover {
    color: #181818;
  }
}

.columns {
  margin-top: 1em;
  .title,
  .subtitle {
    color: #181818;
  }
}

.column {
  height: 63vh;
  position: relative;
}

.column::before {
  content: ' ';
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  box-shadow: 0 4px 20px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

  opacity: 0;
  transition: opacity 500ms;
}

.column:hover::before {
  opacity: 1;
}

.button {
  background: transparent;
  color: #181818;
}
